global:
  # Host domain for the deployment. Only used if `url` is not set. 
  host: dev.wgbh-mla.org
  # Url for the deployment. If set, this overrides the value from `host`
  url: null

app-template:
  controllers:
    # frontend deployment: Remix web application
    frontend:
      containers:
        main: 
          envFrom:
          - configMapRef:
              identifier: frontend
          image:
            repository: ghcr.io/wgbh-mla/dream-aapb
            tag: main
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                periodSeconds: 60
                httpGet:
                  path: /health
                  port: 3000
            startup:
              enabled: true
              custom: true
              spec:
                initialDelaySeconds: 3
                periodSeconds: 3
                failureThreshold: 10
                httpGet:
                  path: /health
                  port: 3000
      defaultContainerOptionsStrategy: merge
      defaultContainerOptions:
        image:
          pullPolicy: Always
        resources:
          limits:
            cpu: '1'
            memory: 1Gi
          requests:
            cpu: 50m
            memory: 50Mi
      replicas: null
      strategy: RollingUpdate
      rollingUpdate:
        unavailable: 0
        surge: 5
  configMaps:
    frontend:
      data:
        NODE_ENV: production
        AAPB_API_URL: 'http://aapb-api/api/v2'
        AAPB_COOKIE_CONSENT_ID: ''
        ES_API_KEY: ''
        ES_INDEX: aapb
        ES_URL: 'http://mla-eck-elasticsearch-es-default.es'
        ORGAN_URL: 'http://organ.organ'
  service:
    frontend:
      controller: frontend
      ports:
        http:
          port: 80
          targetPort: 3000
  ingress:
    frontend:
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-production
      hosts:
      - host: '{{ template "aapb.url" . }}'
        paths:
        - path: /
          service:
            identifier: frontend
      tls:
      - secretName: '{{ template "aapb.name" . }}-tls'
        hosts:
        - '{{ template "aapb.url" . }}'

# Override the name generator for object in the release. default {{ .Release.Name }}
nameOverride: null
